include AUTHORS.txt
include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTORS.txt
include CONTRIBUTING.md
include LICENSE.txt
include REQUIREMENTS.txt
include SECURITY.md
include readme.md

recursive-include docs *.bat *.md *.rst *.txt Makefile
recursive-include images *.png
recursive-include tests *.py

prune docs/_build
global-exclude __pycache__ *.py[cod]
